#jsWeather
    .box
        margin-top: 90px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 85%
        height: auto
        background-color: #9c6644
        border-radius: 20px
        .data
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            line-height: 50px
            color: #ffffff
            h1,h2
                font-size: 20px
    input
        width: 60%
        border-radius: 20px
        padding: 7px 0
    .btn
        margin: 25px 0
        color: #ffffff
        background-color: #f8c471
        border-radius: 20px
        padding: 3px 25px
        &:hover
            background-color: #ffc15e

    @media screen and ( max-width: 767px )
        .box
            width: auto
